<div class="page page-shift">
	<h2>Приём паломников в Санкт-Петербурге</h2>
	<h5 style="text-align: left;">Паломническая служба «Сретение» &nbsp;организует прием и комфортное размещение паломников из других городов России и других &nbsp;стран&nbsp; в Санкт-Петербурге. Всю интересующую Вас информацию об&nbsp; организации приема на конкретную дату можно узнать по номерам:</h5>
	<h4 style="text-align: justify;">(812) 314-46-73, 971-78-74</h4>
	<p>Также Вы можете все узнать написав нам по почте:</p>
	<h4 style="text-align: justify;">E-mail: spb.sretenie@yandex.ru</h4>
	<p>Или написав нам в нашей&nbsp; группе «Вконтакте»:</p>
	<h4 style="text-align: justify;">Паломническая служба «Сретение»</h4>
	<h4 style="text-align: justify;">http://vk.com/sreteniespb</h4>
</div>