<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Заявка от <%= @params[:contact_name] %></h1>
    <p>
      <%= @params[:contact_email] %><br/>
    </p>
    <p>
      <%= @params[:contact_message] %>
    </p>
  </body>
</html>