<div id="about" class="page-alternate page-shift">
  <div class="container">

    <div class="row margin-40">
    	<% for news in @news %>
    		<h3><%= news.header %></h3>
    		<p style="text-align:justify;"><%= raw news.content%></p>
    	<% end %>
  </div>
</div>